{% extends "base.html" %}

{% load widget_tweaks %}

{% block titulo %}
Cadastro de Objetivo | {{ block.super }}
{% endblock titulo %}

{% block row %}

<div class="col-md-6">
	<div class="well bs-component">
	{% if menssagem %}
		{{ menssagem }}
	{% endif %}
	<form class="form-horizontal" action="" method="post" accept-charset="utf-8" enctype="multipart/data-form">
		<fieldset>
	    <legend>
	    	{% if newcadastro == 'S' %}
	    		Cadastro de Objetivo
			{% else %}      		
				Editar Objetivo
      		{% endif %}	    	
      	</legend>
		{% csrf_token %}
		<div class="form-group">
			<label for="id_titulo" class="col-lg-2 control-label">Titulo</label>
			<div class="col-lg-10">
				{{ objetivovisita_form.titulo|add_class:"form-control" }}
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Salvar</button>
		</fieldset>
	</form>
	</div>
</div>
{% endblock row %}