{% extends "base.html" %}

{% load widget_tweaks %}

{% block titulo %}
Atendimento | {{ block.super }}
{% endblock titulo %}

{% block row %}

<div class="col-md-8">
	<div class="well bs-component">
		{% if menssagem %}
			{{ menssagem }}
		{% endif %}
		<form class="form-horizontal" action="" method="post" accept-charset="utf-8" enctype="multipart/data-form">
		  <fieldset>
	      	<legend>
		    	{% if newcadastro == 'S' %}
		    		Cadastro de Atendimento
				{% else %}      		
					Editar Atendimento
	      		{% endif %}	 

	      	</legend>	
			{% csrf_token %}
			<div class="form-group">
				<label for="id_atendente" class="col-lg-2 control-label">Atendente</label>
				<div class="col-lg-10">
					{{ atendimento_form.atendente|add_class:"form-control" }}
				</div>
			</div>
			<div class="form-group">
				<label for="id_representante" class="col-lg-2 control-label">Representante</label>
				<div class="col-lg-10">
					{{ atendimento_form.representante|add_class:"form-control" }}
				</div>
			</div>		
			<div class="form-group">
				<label for="id_objetivoatendimento" class="col-lg-2 control-label">Objetivo</label>
				<div class="col-lg-10">			
					{{ atendimento_form.objetivoatendimento|add_class:"form-control" }}
				</div>
			</div>		
			<div class="form-group">
				<label for="id_status" class="col-lg-2 control-label">Status</label>
				<div class="col-lg-10">				
					{{ atendimento_form.status|add_class:"form-control" }}
				</div>
			</div>
			<div class="form-group">
				<label for="id_conteudoatendimento" class="col-lg-2 control-label">Conteudo</label>
				<div class="col-lg-10">				
					{{ atendimento_form.conteudoatendimento|add_class:"form-control" }}
				</div>
			</div>		
			<div class="form-group">
				<label for="id_observacao" class="col-lg-2 control-label">Observação</label>
				<div class="col-lg-10">				
					{{ atendimento_form.observacao|add_class:"form-control" }}
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Salvar</button>
			</fieldset>
		</form>
	</div>
</div>
{% endblock row %}